.main-rem {
  display: none;
  width: 90%;
  padding: 25px 0;
  justify-content: center;
  flex-wrap: wrap;
//  background-color: rgb(15, 15, 15);
}
.main-rem div {
  display: flex;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  margin: 25px;
  background-color: rgb(30, 30, 30);
  line-height: 1.2;
}
.main-rem span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
  background-color: rgb(20, 20, 20);
  font-weight: bold;
}
.main-rem ul {
  margin-bottom: auto;
}
.main-rem span:last-child {
  margin: 1em;
}
