@font-face {
  font-family: hnc;
  src: url(./HelveticaNeueCyr-Thin.ttf);
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: Gainsboro;
  font-size: calc(1.5vh + 1.5vw);
  font-family: hnc;
}

header {
  display: flex;
  width: 100%;
  height: 12vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(20, 20, 20);
  z-index: 1;
}
header div {
  display: flex;
  width: calc(100%/3);
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s linear;
  cursor: pointer;
}
header > div:hover {
  background-color: rgb(10, 10 ,10);
}
.btn-active {
  background-color: rgb(60, 60, 60);
}
header img {
  height: 50%;
}

main {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 12vh);
  padding-top: 12vh;
  justify-content: center;
  align-items: center;
}
main > div.visible {
  display: flex;
}

#close {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#close.none {
  display: none;
}

.menu {
  display: flex;
  width: calc(100%/3);
  height: 88vh;
  position: fixed;
  left: 0;
  top: 12vh;
  justify-content: center;
  background-color: rgba(60, 60, 60, 0.9);
}
.left-hide {
  transform: translateX(-100%);
}

.menu-content div {
  display: flex;
  width: 100%;
  border-bottom: 2px solid rgb(40, 40, 40);
  justify-content: center;
  transition:
    transform 0.5s linear,
    color 0.5s linear;
  cursor: pointer;
}
.menu-content div:hover {
  color: rgb(20, 20, 20);
  transform: scale(1.2);
}

.rbrnd span:nth-child(odd) {
  color: rgb(230, 111, 29);
}
.rbrnd span:nth-child(2) {
  color: rgb(20, 20, 20);
}

.menu-call {
  display: flex;
  width: calc(100%/3);
  position: fixed;
  right: 0;
  top: 12vh;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s linear;
}
.btn-call-active {
  background-color: rgb(10, 10, 10);
}
.top-hide {
  transform: translateY(-100%);
}
.menu-call div {
  display: flex;
  flex-direction: column;
}
.menu-call a {
  color: lightsteelblue;
  font-size: calc(1.2vh + 1.2vw);
  text-decoration: none;
  line-height: 3;
  text-shadow:
    1px 1px 1px black,
    -1px -1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black;
}

.menu-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.load {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity 1s linear;
  z-index: 999;
}
